$govuk-assets-path: "/ntt-trustees-frontend/assets/lib/govuk-frontend/govuk/assets/";

@import "lib/govuk-frontend/govuk/all";
@import "language-toggles.scss";
@import "autocomplete.css";

h1.govuk-fieldset__heading {
    margin-bottom: 0.5em;
}

ul#country-autocomplete__listbox {
    font-family: arial;
}